
@font-face {
	font-family: 'custom-iconfont';
	src: url('./iconfont.ttf') format('truetype');
  }
  
  .van-icon {
	font-family: 'vant-icon', 'custom-iconfont' !important;
  }
  
.van-icon-dianpufill:before { content: "\e735"; }

.van-icon-dianpu:before { content: "\e736"; }

.van-icon-wodefill:before { content: "\e75d"; }

.van-icon-wode:before { content: "\e75e"; }

.van-icon-skinfill:before { content: "\e7cc"; }

.van-icon-skin:before { content: "\e7cd"; }

.van-icon-search1:before { content: "\e741"; }

.van-icon-searchfill:before { content: "\e742"; }