
@font-face {
	font-family: 'custom-iconfont';
	src: url('./iconfont.ttf') format('truetype');
  }
  
  .van-icon {
	font-family: 'vant-icon', 'custom-iconfont' !important;
  }
  
.van-icon-dianpufill:before { content: "\e735"; }

.van-icon-dianpu:before { content: "\e736"; }

.van-icon-wodefill:before { content: "\e75d"; }

.van-icon-wode:before { content: "\e75e"; }

.van-icon-skinfill:before { content: "\e7cc"; }

.van-icon-skin:before { content: "\e7cd"; }

.van-icon-search1:before { content: "\e741"; }

.van-icon-searchfill:before { content: "\e742"; }

.van-icon-laba:before { content: "\e628"; }

/* .icon-deliver:before { content: "\e671"; }

.icon-pay:before { content: "\e673"; }

.icon-send:before { content: "\e675"; }

.icon-right:before { content: "\e6a3"; }

.icon-delete:before { content: "\e6b4"; }

.icon-caidan:before { content: "\e65d"; }

.icon-laba:before { content: "\e628"; }

.icon-caidan1:before { content: "\e630"; } */